/* font-family: 'DM Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'PT Serif', serif; */

* {margin:0;
padding: 0;}

body {background-image: url(background4.jpg);}

/* NAVBAR */

.container-fluid {background-color: #dfe0dc;
height:50px;}

.navbar {
width: 100%;
margin-top:-8px;}

.nav-item {
margin:3px;
border-radius: 5px;
font-family: 'Lora';
font-weight: 500;
font-size:14px;
text-transform: uppercase;
color:#424242;
}

.nav-item:hover {color:black;}

.navbar-collapse, .collapse {
    background-color: #dfe0dc;
    line-height: 5px;
}



/* HEADER */

.header {background-color:#dfe0dc ;
border-radius: 30px;
box-shadow: 0px 0px 10px 2px #424242;
width: 70%;
height: 75%;
position: absolute;
left:15%;
top:15%;
padding:30px;
overflow: hidden;
}

p.about {line-height: 30px;
text-align: justify;
font-family: 'Lora';
color:#424242;
font-size: 16px;} 

h1.aboutus {font-family: 'Lora';
font-size: 40px;
width: 50%;}

/* BOLD */

b{color:green;}
u{text-decoration: underline 1.5px green;}

/* LIST */

ol,li {font-family: 'Lora';
font-size: 16px;
color:#424242;}
