/* font-family: 'DM Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'PT Serif', serif; */

* {margin:0;
padding: 0;} /* keep the design consistent across browsers */ 

body {background-image: url(background4.jpg);}

/* NAVBAR */

.container-fluid {background-color: #dfe0dc;
height:50px;}

.navbar {
width: 100%;
margin-top:-8px;}

.nav-item {
margin:3px;
border-radius: 5px;
font-family: 'Lora';
font-weight: 500;
font-size:14px;
text-transform: uppercase;
color:#424242;
}

.nav-item:hover {color:black;}

.navbar-collapse, .collapse {
    background-color: #dfe0dc;
    line-height: 5px;}

/* HEADER AND OTHER ELEMENTS */

.header {background-color:#dfe0dc;
border-radius: 30px;
box-shadow: 0px 0px 10px 2px #424242;
width: 70%;
height: 75%;
position: absolute;
left:15%;
top:15%;
padding:30px;}

p.about {font-family: 'Lora';
color:#424242;
font-size: 16px;
line-height: 30px;
text-align: justify;} /* used line-height to set the distance between lines */

h1.aboutus {font-family: 'Lora';
font-size: 40px;
width: 50%;} /* changed the width to make it take less space inside the div */

/* CHANGING THE PROPERTIES OF BOLD, UNDERLINE AND LINKS */

b{color:green;} /*bold color turns green*/
u{text-decoration: underline 1.5px green;} /* the underline turns green and has a 1.5px thickness */
a{color:inherit;
text-decoration: none;} /* the color is the one assigned by the class or id where the link is and there's no underline */
a:hover {color:black;} /* change the color of the link when selected */

/* CHANGING THE PROPERTIES OF THE LIST (navbar) */

ol,li {font-family: 'Lora';
font-size: 16px;
color:#424242;}

/* DONATION PAGE */

h1.donate {font-family:'Lora';
font-size:40px;} /* created a different class than the one in the index page for the h1 so the width could be back to 100% */
    
h1.statistics {font-family:'Lora';
font-size:90px;} /* created a class to change the font-size */
    
p.source {font-family:'Lora';
font-size:10px;
color:#909090;
text-align:center;}

/* CHANGING THE PROPERTIES OF THE TABLE */

td {width: 20%;} /* changed the width so it would take less space in the page */

table {
text-align: center;
margin:20px;
font-size:14px;
font-family: 'Lora'}
